.statya{
  border:1px solid black;
  overflow:auto;
}

#aboba{
  float:left;
  margin-right:20px;
  border:1px solid #E6375B;
}

.articles {
  margin-top: 10px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
}
