.abobus{
  border:1px solid black;
  overflow:auto;
}

#aboba {
  float:left;
}

.abobus:hover{
  border: 3px inset black;
}

.blogHeading {
  margin-top: 10px;
  font-family: Georgia;
  font-weight: bold;
  text-align: center;
}

.blogText {
  text-indent: 20px;
  font-family: Verdana;
  font-size: 1em;
  margin-top: 1%;
  margin-left: 32%;
  text-align: justify;
}

#objects {
  border:1px solid black;
  overflow:auto;
  width:99.8%;
  height: 40%;
}

nav {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
}

.featuresMain {
  list-style: inherit;
  list-style-position: inside;
}


.objLink:not(#last){
  border-right: 1px solid black;
}

.objLink:hover {
  border: 3px inset black;
}

.objName {
  height: 4em;
  text-align: center;
}
