*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(https://github.com/graphenborn/hernya/blob/65ad0f1750c4ce00a85b492f4483caa8ccc23610/images/High_resolution_wallpaper_background_ID_77701399678.jpg
}
/* #someBlock {
  background: red;
  color: #fff;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: fixed;
  left: 20px;
  top: 50px;
} */

#header{
  float:left;
  width: 100%;
  height: 5%;
}

#main {
  width: 75%;
  margin-left: 10%;
  background-color: #fafafa;
  border: 1px solid silver;
  padding: 20px 2.5%;
  float: left;
  z-index: 1;
}



#nav{
  list-style: none;
  display: block;
  float: left;
  width: 80%;
  margin-top: 4%;
  font-family: Verdana, sans-serif;
  margin-left: 10%;
  text-align: center;
  margin-bottom: 50px;
}

#nav li {
  display: inline;
  background: #fafafa;
  border: 1px solid silver;
  padding: 0 20px;
  cursor: pointer;
}

#nav li:not(last-of-type) {
  margin-right: 20px;
}

#nav li:hover {
  color: #fff;
  background: #333;
  border-radius: 5px;
  border-color: #333;
}

#navMain {
  color: #008000;
  background: #333;
  border-radius: 5px;
  border-color: #333;
}
