*{
  margin: 0;
  padding: 0;
}

#main {
  width: 75%;
  margin-left: 10%;
  background-color: #fafafa;
  border: 1px solid silver;
  padding: 20px 2.5%;
  float: left;
  z-index: 1;
}

#nav{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 4%;
  align-items: center;
  font-family: Verdana, sans-serif;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color:black;
}

.navig, .active{
  padding: 0 20px;
  color: black;
}

#nav li{
  display: inline;
  background-color: #fff;
  border-radius: 5px;
  border-color: #333;
}

#nav li:not(last-of-type) {
  margin-right: 1%;
}

.navig:hover, .active:hover{
  color: #fff;
  background-color: black;
  border-radius: 5px;
  border-color: #333;
}

.active {
  color: #fff;
  background: #099;
  border-radius: 5px;
  border-color: #333;
}

#logo {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.block {
  border:1px solid black;
  overflow:auto;
}

.heading {
  font-family: Georgia;
  font-weight: bold;
  border: 2px solid #E6375B;
  font-size: 1.8em;
  text-align: center;
}

.text {
  font-family: Verdana;
  font-size: 1em;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
}

.krasnaya {
  text-indent: 2em;
  font-family: Verdana;
  font-size: 1em;
  margin-top: 1em;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
}

.features{
  margin-left: 2%;
  margin-bottom: 1%;
  list-style: inherit;
  list-style-position: inside;
}

#arrow {
  bottom: 1%;
  top: 90vh;
  left: 93vw;
  position: fixed;
  border-radius:: 99999px;
  z-index: 228;
}

#arrowImage:hover {
  border: 1px inset black;
  border-radius: 99999px;
}

#arrowImage {
  transform: rotate(270deg);
}

@media (max-width:640px) {
  #nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
		align-items: center;
  }

  #nav li {
    margin-top: 3px;
    margin-right: 0px;
  }
}
