*{
  margin: 0;
  padding: 0;
}

#main {
  width: 75%;
  margin-left: 10%;
  background-color: #fafafa;
  border: 1px solid silver;
  padding: 20px 2.5%;
  float: left;
  z-index: 1;
}

#nav{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 4%;
  align-items: center;
  font-family: Verdana, sans-serif;
  margin-bottom: 50px;
}

a{
  text-decoration:none;
  padding: 0 20px;
  color: black;
}

#nav li{
  display: inline;
  background-color: #fff;
  border-radius: 5px;
  border-color: #333;
}

#nav li:not(last-of-type) {
  margin-right: 1%;
}

a:hover:not(#statya){
  color: #fff;
  background-color: black;
  border-radius: 5px;
  border-color: #333;
}

.active {
  background: #20AEE6;
  border-radius: 5px;
  border-color: #333;
}

#logo {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.heading {
  font-family: Georgia;
  font-weight: bold;
  border: 2px solid #E6375B;
  font-size:30px;
  text-align: center;
}

.text {
  text-indent: 20px;
  font-family: Verdana;
  font-size: 16px;
  text-align: justify;
}

.abobus{
  border:1px solid black;
  overflow:auto;
}

#aboba {
  float:left;
}

.abobus:hover{
  border: 3px inset black;
}

@media (max-width:960px) {
  #nav{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
		align-items: center;
  }

  #nav li {
    margin-top: 3px;
    margin-right: 0px;
  }
}
