.articles {
  text-align: center;
}

.object {
  border:1px solid black;
  overflow:auto;
  padding: 2em;
  border-radius: 20px;
}

img {
  float:left;
  margin: 2em;
}


.object:hover{
  background: lightgrey;
}
